<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ pageTitle }}</title>
</head>

<body>
  <h1>{{ pageTitle }}</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, soluta
    atque. Quo adipisci sequi commodi, illo eaque incidunt iure sit magnam
    recusandae culpa inventore dolorum suscipit porro sint quos ut!Ratione
    eaque doloremque vero qui rem nobis, iste corporis ut nulla. Eaque unde,
    libero magni rem, nihil eligendi similique dolor harum, voluptates sequi
    vel reiciendis repudiandae pariatur adipisci maiores eius?
  </p>

  {{> footer}}
</body>

</html>